.dashboard {
      display: grid;
      grid-template-areas:
        "header header header"
        "sidebar main widget1"
        "sidebar main widget2"
        "footer footer footer";
      grid-template-columns: 200px 1fr 300px;
      grid-template-rows: 80px 1fr 1fr 60px;
      min-height: 600px;
      gap: 15px;
    }

    .header { grid-area: header; background-color: lightgray; }
    .sidebar { grid-area: sidebar; background-color: lightblue; }
    .main { grid-area: main; background-color: lightgreen; }
    .widget1 { grid-area: widget1; background-color: lightcoral; height: 200px; }
    .widget2 { grid-area: widget2; background-color: lightyellow; height: 200px; }
    .footer { grid-area: footer; background-color: lightgray; }